<header class="brand">
  {% unless settings.logo-placement == 'sidebar' %}<div class="container">{% endunless %}
  
	<!-- DISPLAYS DIFFERENT LOGO BASED ON COLLECTION -->
{% if  template == "index" %}
    <h1><a href="/">{% include 'logo' %}</a></h1>
{% elsif collection.handle == "anjunabeats" %}
	<h1><a href="/"><img src="{{ 'anjunastore-logo.png' | asset_url }}"></a></h1>
{% elsif collection.handle == "vintage" %}
	<h1><a href="/"><img src="//cdn.shopify.com/s/files/1/0856/0996/t/3/assets/logo-image-dark.png?2047601066309908304"></a></h1>	
{% else %}
	<h1><a href="/">{% include 'logo' %}</a></h1>
{% endif %}


  
    {% unless settings.brand-byline == blank %}<h2>{{ settings.brand-byline }}</h2>{% endunless %}
  {% unless settings.logo-placement == 'sidebar' %}</div>{% endunless %}
</header>