<div style="float:left; margin-top:14px; margin-left:10px;">
  <a class="tmb-currency" href="http://anjunastore-uk.myshopify.com"><i class="fa fa-gbp"></i></a>
  <a class="tmb-currency" href="http://anjunastore.myshopify.com"><i class="fa fa-dollar"></i></a>
  <a class="tmb-currency" href="http://anjunastore-eu.myshopify.com"><i class="fa fa-eur"></i></a>
</div>


