<div class="page__footer">
      <div id="shopify-section-footer" class="shopify-section"><footer class="footer">
  <div class="container wrapper">
    <div class="footer__grid grid grid--justify">

      <div class="grid__column grid__column--12">
        <div class="footer__logo">
          
            
            <a
              href="/"
              class="logo"
              style="max-width: 100px"
            >
              <img src="https://cdn.shopify.com/s/files/1/0263/0392/2221/files/logo_transparent_fe5e2f22-d872-4a6a-9b7b-83caab7ce86f.png?v=1571676476">
            </a>
          
        </div>
      </div>
    </div>

    <div class="footer__copy">
      
      <ul class="footer__payments list list--horizontal list--center list--middle">
        <!-- <li class="list__item">
          <svg width="31" height="24" viewBox="0 0 31 24" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" fill-rule="evenodd">
    <path d="M29.585 23.175v.06h.055a.058.058 0 0 0 .03-.008.026.026 0 0 0 .01-.023.025.025 0 0 0-.01-.022.053.053 0 0 0-.03-.007h-.055zm.055-.042c.029 0 .05.007.066.02.016.012.023.03.023.051a.06.06 0 0 1-.018.046.09.09 0 0 1-.053.022l.073.084h-.057l-.067-.083h-.022v.083h-.048v-.223h.103zm-.014.3a.19.19 0 0 0 .171-.115.19.19 0 0 0-.04-.205.185.185 0 0 0-.131-.054.189.189 0 0 0-.134.054.181.181 0 0 0-.04.06.18.18 0 0 0-.014.072c0 .027.005.05.015.073a.176.176 0 0 0 .1.1c.022.01.047.015.073.015zm0-.428a.24.24 0 0 1 .173.071.235.235 0 0 1 .052.263.249.249 0 0 1-.13.128.244.244 0 0 1-.341-.221.235.235 0 0 1 .15-.221.244.244 0 0 1 .096-.02zm-22.543-.858c0-.424.278-.773.733-.773.435 0 .728.334.728.773 0 .44-.293.774-.728.774-.455 0-.733-.349-.733-.774zm1.956 0V20.94h-.525v.294c-.167-.218-.42-.355-.763-.355-.678 0-1.209.532-1.209 1.27s.531 1.268 1.209 1.268c.343 0 .596-.136.763-.354v.293h.525v-1.208zm17.754 0c0-.424.278-.773.733-.773.435 0 .728.334.728.773 0 .44-.293.774-.728.774-.455 0-.733-.349-.733-.774zm1.957 0V19.97h-.526v1.264c-.167-.218-.42-.355-.763-.355-.678 0-1.209.532-1.209 1.27s.531 1.268 1.209 1.268c.343 0 .596-.136.763-.354v.293h.526v-1.208zm-13.19-.798c.34 0 .557.212.612.586h-1.254c.057-.349.268-.586.643-.586zm.011-.47c-.708 0-1.203.515-1.203 1.268 0 .769.515 1.27 1.238 1.27.364 0 .698-.092.991-.34l-.258-.389c-.202.162-.46.253-.703.253-.338 0-.646-.157-.722-.592h1.794c.005-.065.01-.131.01-.202-.005-.753-.47-1.269-1.147-1.269zm6.344 1.268c0-.424.278-.773.733-.773.434 0 .728.334.728.773 0 .44-.294.774-.728.774-.455 0-.733-.349-.733-.774zm1.956 0V20.94h-.525v.294c-.168-.218-.42-.355-.763-.355-.678 0-1.21.532-1.21 1.27s.532 1.268 1.21 1.268c.343 0 .595-.136.763-.354v.293h.525v-1.208zm-4.923 0c0 .733.51 1.27 1.289 1.27.364 0 .606-.082.869-.289l-.252-.425a1.062 1.062 0 0 1-.633.218c-.42-.005-.728-.308-.728-.774 0-.465.309-.768.728-.773.228 0 .435.076.633.217l.252-.424c-.263-.208-.505-.289-.87-.289-.778 0-1.288.536-1.288 1.27zm6.773-1.269c-.303 0-.5.142-.637.355v-.294h-.52v2.416h.526v-1.354c0-.4.171-.622.515-.622.107 0 .218.015.329.06l.162-.495a1.119 1.119 0 0 0-.375-.066zm-14.083.253c-.253-.166-.601-.253-.986-.253-.612 0-1.006.294-1.006.774 0 .394.294.637.834.713l.248.035c.288.04.424.116.424.253 0 .187-.192.293-.55.293-.364 0-.627-.116-.804-.252l-.248.409c.288.212.652.313 1.046.313.698 0 1.103-.328 1.103-.788 0-.425-.319-.647-.845-.723l-.247-.036c-.228-.03-.41-.075-.41-.237 0-.177.172-.283.46-.283.308 0 .607.116.753.207l.228-.425zm6.779-.253c-.304 0-.5.142-.637.355v-.294h-.52v2.416h.525v-1.354c0-.4.172-.622.515-.622.107 0 .218.015.329.06l.162-.495a1.119 1.119 0 0 0-.374-.066zm-4.484.061h-.86v-.733h-.53v.733h-.49v.48h.49v1.103c0 .56.217.894.839.894.228 0 .49-.07.657-.187l-.152-.45a.973.973 0 0 1-.465.137c-.262 0-.348-.162-.348-.405V21.42h.86v-.48zm-7.855 2.416V21.84c0-.571-.364-.955-.951-.96-.309-.006-.627.09-.85.43-.166-.269-.429-.43-.798-.43-.258 0-.51.075-.708.358v-.298h-.526v2.416h.531v-1.339c0-.42.233-.642.592-.642.349 0 .525.227.525.637v1.344h.531v-1.339c0-.42.243-.642.592-.642.359 0 .53.227.53.637v1.344h.532z" fill="#231F20" fill-rule="nonzero"/>
    <path d="M30.356 15.941v-.732h-.144l-.166.503-.166-.503h-.145v.732h.103v-.552l.155.477h.106l.156-.478v.553h.101zm-.913 0v-.607h.184v-.123h-.47v.123h.184v.607h.102z" fill="#F79410" fill-rule="nonzero"/>
    <path fill="#FF5F00" d="M19.448 16.838h-7.963V2.528h7.963z"/>
    <path d="M11.995 9.682a9.085 9.085 0 0 1 3.476-7.155A9.1 9.1 0 0 0 .747 9.682a9.1 9.1 0 0 0 14.724 7.155 9.085 9.085 0 0 1-3.476-7.155" fill="#EB001B"/>
    <path d="M30.186 9.682a9.1 9.1 0 0 1-14.724 7.155 9.084 9.084 0 0 0 3.477-7.155 9.084 9.084 0 0 0-3.477-7.155 9.1 9.1 0 0 1 14.724 7.155" fill="#F79E1B"/>
  </g>
</svg>

        </li>

        <li class="list__item">
          <svg width="44" height="12" viewBox="0 0 44 12" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" fill-rule="evenodd">
    <path d="M30.262 3.283c-.183 1.203-1.102 1.203-1.99 1.203h-.506l.355-2.246a.279.279 0 0 1 .276-.235h.232c.604 0 1.176 0 1.47.344.177.206.23.512.163.934M29.876.145h-3.352a.466.466 0 0 0-.46.393L24.709 9.13a.28.28 0 0 0 .276.323h1.72c.16 0 .296-.117.321-.275l.385-2.436a.465.465 0 0 1 .46-.393h1.06c2.208 0 3.482-1.069 3.815-3.186.15-.926.006-1.654-.428-2.163-.476-.56-1.321-.856-2.442-.856" fill="#0079C1"/>
    <path d="M6.359 3.283c-.183 1.203-1.102 1.203-1.99 1.203h-.506l.354-2.246a.279.279 0 0 1 .276-.235h.232c.605 0 1.176 0 1.47.344.177.206.23.512.164.934M5.972.145H2.621a.466.466 0 0 0-.46.393L.805 9.13a.28.28 0 0 0 .276.323h1.6a.466.466 0 0 0 .46-.393l.366-2.318a.465.465 0 0 1 .46-.393h1.06c2.208 0 3.482-1.069 3.815-3.186.15-.926.006-1.654-.427-2.163C7.938.441 7.093.145 5.972.145M13.753 6.368c-.156.917-.883 1.533-1.812 1.533-.465 0-.838-.15-1.077-.433-.238-.281-.327-.682-.252-1.127a1.796 1.796 0 0 1 1.798-1.545c.456 0 .826.152 1.07.438.246.288.343.69.273 1.134m2.236-3.123h-1.605a.28.28 0 0 0-.276.236l-.07.448-.112-.162c-.348-.504-1.123-.673-1.896-.673-1.773 0-3.288 1.343-3.582 3.228-.154.94.064 1.838.597 2.465.49.576 1.189.816 2.021.816 1.43 0 2.222-.918 2.222-.918l-.072.446a.28.28 0 0 0 .276.323h1.445c.23 0 .425-.166.46-.393l.868-5.493a.28.28 0 0 0-.276-.323" fill="#00457C"/>
    <path d="M37.656 6.368c-.155.917-.883 1.533-1.811 1.533-.466 0-.839-.15-1.078-.433-.238-.281-.327-.682-.251-1.127a1.796 1.796 0 0 1 1.798-1.545c.456 0 .826.152 1.07.438.246.288.343.69.272 1.134m2.237-3.123h-1.605a.28.28 0 0 0-.276.236l-.07.448-.113-.162c-.347-.504-1.122-.673-1.896-.673-1.773 0-3.287 1.343-3.582 3.228-.153.94.065 1.838.598 2.465.49.576 1.188.816 2.02.816 1.43 0 2.223-.918 2.223-.918l-.072.446a.28.28 0 0 0 .276.323h1.445c.23 0 .424-.166.46-.393l.868-5.493a.28.28 0 0 0-.276-.323" fill="#0079C1"/>
    <path d="M24.536 3.245h-1.613a.465.465 0 0 0-.385.204l-2.225 3.277-.943-3.149a.466.466 0 0 0-.446-.332h-1.586a.28.28 0 0 0-.264.37l1.776 5.213-1.67 2.357a.28.28 0 0 0 .228.44h1.61a.467.467 0 0 0 .384-.2l5.364-7.742a.28.28 0 0 0-.23-.438" fill="#00457C"/>
    <path d="M41.784.38L40.41 9.133a.28.28 0 0 0 .275.322h1.384a.465.465 0 0 0 .46-.393L43.884.468a.28.28 0 0 0-.276-.323H42.06c-.138 0-.255.1-.276.236" fill="#0079C1"/>
  </g>
</svg>

        </li>

        <li class="list__item">
          <svg width="37" height="12" viewBox="0 0 37 12" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" fill-rule="evenodd">
    <path d="M12.894 11.728L14.739.284h2.949l-1.845 11.444h-2.949zM26.54.565l-.4 2.48-.264-.13a5.173 5.173 0 0 0-2.207-.44c-1.155 0-1.69.51-1.69.985-.007.537.625.888 1.656 1.42 1.702.815 2.488 1.804 2.477 3.109-.024 2.374-2.037 3.909-5.135 3.909-1.323-.015-2.598-.291-3.286-.61l.413-2.562.379.182c.97.427 1.597.6 2.778.6.847 0 1.757-.35 1.765-1.117.004-.501-.382-.86-1.531-1.42-1.118-.547-2.601-1.465-2.583-3.11.017-2.224 2.07-3.777 4.985-3.777 1.143 0 2.06.25 2.643.48zm3.926 7.106h2.449c-.117-.573-.683-3.304-.683-3.304l-.199-.987c-.149.429-.41 1.122-.392 1.092 0 0-.93 2.54-1.175 3.199zM34.104.295l2.387 11.437h-2.737s-.27-1.315-.36-1.715l-3.776-.005c-.115.31-.62 1.72-.62 1.72H25.9l4.38-10.488c.31-.746.839-.949 1.545-.949h2.28zM10.42.293h3.125L8.901 11.716l-3.12.002L3.14 1.71c1.872.993 3.547 2.973 4.085 4.8l.309 1.587L10.42.293z" fill="#26337A"/>
    <path d="M4.854.285H.1l-.04.238C3.76 1.47 6.21 3.759 7.226 6.51L6.19 1.25C6.013.526 5.495.311 4.854.285" fill="#EC982D"/>
  </g>
</svg>

        </li> -->

        <li class="list__item">
          <img src="//cdn.shopify.com/s/files/1/0275/0257/5698/files/Credit-Cards_200x.jpg?v=1574787652" alt="Visa, Mastercard, American Express, Discover">
        </li>
      </ul>
      

      <p class="text-small">© 2019 Musles Media. Oh, <a href="mailto:support@muslesofficial.com">support@muslesofficial.com</a><br>ClickCommerce is the seller of all Musles merchandise and is solely responsible for all aspects of your purchase.</p>
    </div>
  </div>
</footer>