<div id="ProductSection-{{ product.id }}"
  itemscope itemtype="http://schema.org/Product"
  data-section-id="{{ product.id }}"
  data-section-type="product-template" class="text-center m-10">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  {% include 'product-form', section_id: product.id %}
</div>
