<body class="body">
  <div id="shopify-section-menu-mobile" class="shopify-section"><aside class="drawer drawer--left drawer--mobile" data-drawer="menu-mobile">
  <div class="drawer__background" data-drawer-trigger="menu-mobile"></div>

  <div class="drawer__content">
    <nav class="drawer__container menu-mobile">
      <ul class="menu-mobile__item menu-mobile__item--main list">
        <li class="list__item">
          <a href="/collections/frontpage" class="menu-mobile__primary-link">Shop</a>
        </li>
        <li class="list__item">
          <a href="/pages/policies" class="menu-mobile__primary-link">Policies</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>


</div>

  <div class="page">
    <div class="page__navbar">
      <div id="shopify-section-navbar" class="shopify-section"><header class="navbar">
  <div class="container wrapper">
    <div class="navbar__grid grid grid--middle">
      <div class="navbar__col navbar__col--hamburger grid__column grid__column--3">
        <a href="#" data-drawer-trigger="menu-mobile" class="navbar__hamburger">
          <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg">
  <path d="M1 0h14a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2zm0 6h14a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2zm0 6h14a1 1 0 0 1 0 2H1a1 1 0 0 1 0-2z" fill-rule="evenodd"/>
</svg>

        </a>
      </div>

      <div class="grid__column grid__column--6 grid__column--3@sm">
        
          
          <a
            href="/"
            class="navbar__logo logo logo--desktop"
            style="max-width: 140px"
          >
            <img src="//cdn.shopify.com/s/files/1/0263/0392/2221/files/logo_transparent_fe5e2f22-d872-4a6a-9b7b-83caab7ce86f.png?v=1571676476" alt="Keemstar">
          </a>

          <a
            href="/"
            class="navbar__logo logo logo--mobile"
            style="max-width: 93px"
          >
            <img src="//cdn.shopify.com/s/files/1/0263/0392/2221/files/logo_transparent_fe5e2f22-d872-4a6a-9b7b-83caab7ce86f.png?v=1571676476" alt="Keemstar">
          </a>
        
      </div>

      <nav class="navbar__col navbar__col--menu grid__column grid__column--6">
        <ul class="navbar__menu list list--horizontal list--center list--middle">
          <!-- 
            <li class="list__item">
              <a href="/" class="navbar__link">Home</a>
            </li>
          
            <li class="list__item">
              <a href="/collections/all" class="navbar__link">Catalog</a>
            </li>
           -->
          <li class="list__item">
            <a href="/collections/frontpage" class="navbar__link">Merchandise</a>
          </li>
          <li class="list__item">
            <a href="/pages/policies" class="navbar__link">Policies</a>
          </li>
        </ul>
      </nav>

      <div class="navbar__col navbar__col--basket grid__column grid__column--3">
        <a href="/cart" class="basket">
  <div class="basket__icon">
    <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
  <path d="M1318.875,94.75 C1318.875,95.6471397 1319.19238,96.4130828 1319.82715,97.0478514 C1320.46192,97.6826204 1321.22786,98 1322.125,98 C1323.02214,98 1323.78808,97.6826204 1324.42285,97.0478514 C1325.05762,96.4130828 1325.375,95.6471397 1325.375,94.75 C1325.375,93.8528602 1325.05762,93.0869165 1324.42285,92.4521492 C1323.78808,91.8173787 1323.02214,91.5 1322.125,91.5 C1321.22786,91.5 1320.46192,91.8173787 1319.82715,92.4521492 C1319.19238,93.0869165 1318.875,93.8528602 1318.875,94.75 Z M1322.125,93.125 C1322.56511,93.125 1322.94596,93.2858067 1323.26758,93.6074235 C1323.58919,93.929037 1323.75,94.3098947 1323.75,94.75 C1323.75,95.1901062 1323.58919,95.570962 1323.26758,95.8925781 C1322.94596,96.2141942 1322.56511,96.375 1322.125,96.375 C1321.68489,96.375 1321.30404,96.2141942 1320.98242,95.8925781 C1320.66081,95.570962 1320.5,95.1901062 1320.5,94.75 C1320.5,94.3098947 1320.66081,93.929037 1320.98242,93.6074235 C1321.30404,93.2858067 1321.68489,93.125 1322.125,93.125 Z M1328.625,94.75 C1328.625,95.6471397 1328.94238,96.4130828 1329.57715,97.0478514 C1330.21192,97.6826204 1330.97786,98 1331.875,98 C1332.77214,98 1333.53808,97.6826204 1334.17285,97.0478514 C1334.80762,96.4130828 1335.125,95.6471397 1335.125,94.75 C1335.125,93.8528602 1334.80762,93.0869165 1334.17285,92.4521492 C1333.53808,91.8173787 1332.77214,91.5 1331.875,91.5 C1330.97786,91.5 1330.21192,91.8173787 1329.57715,92.4521492 C1328.94238,93.0869165 1328.625,93.8528602 1328.625,94.75 Z M1331.875,93.125 C1332.31511,93.125 1332.69596,93.2858067 1333.01758,93.6074235 C1333.33919,93.929037 1333.5,94.3098947 1333.5,94.75 C1333.5,95.1901062 1333.33919,95.570962 1333.01758,95.8925781 C1332.69596,96.2141942 1332.31511,96.375 1331.875,96.375 C1331.43489,96.375 1331.05404,96.2141942 1330.73242,95.8925781 C1330.41081,95.570962 1330.25,95.1901062 1330.25,94.75 C1330.25,94.3098947 1330.41081,93.929037 1330.73242,93.6074235 C1331.05404,93.2858067 1331.43489,93.125 1331.875,93.125 Z M1320.5,89.875 C1320.05989,89.875 1319.67904,89.7141932 1319.35742,89.3925765 C1319.03581,89.070963 1318.875,88.6901052 1318.875,88.25 L1337.5625,86.625 C1337.5625,86.625 1337.68945,86.1087277 1337.94336,85.0761735 C1338.19727,84.043616 1338.47656,82.8883515 1338.78125,81.6103507 C1339.08594,80.33235 1339.36523,79.1347705 1339.61914,78.0175765 C1339.87305,76.9003857 1340,76.248699 1340,76.0625 C1340,75.8424457 1339.9196,75.6520185 1339.75879,75.4912117 C1339.59798,75.3304017 1339.40755,75.25 1339.1875,75.25 L1318.875,75.25 L1318.875,73.625 L1319.6875,73.625 C1319.90755,73.625 1320.09798,73.5445982 1320.25879,73.3837882 C1320.4196,73.2229815 1320.5,73.0325542 1320.5,72.8125 C1320.5,72.5924457 1320.4196,72.4020185 1320.25879,72.2412117 C1320.09798,72.0804017 1319.90755,72 1319.6875,72 L1314.8125,72 C1314.59245,72 1314.40202,72.0804017 1314.24121,72.2412117 C1314.0804,72.4020185 1314,72.5924457 1314,72.8125 C1314,73.0325542 1314.0804,73.2229815 1314.24121,73.3837882 C1314.40202,73.5445982 1314.59245,73.625 1314.8125,73.625 L1317.25,73.625 L1317.25,88.25 C1317.25,89.1471397 1317.56738,89.9130835 1318.20215,90.5478507 C1318.83692,91.1826212 1319.60286,91.5 1320.5,91.5 L1339.1875,91.5 C1339.20443,91.5 1339.20866,91.3307302 1339.20019,90.9921875 C1339.19173,90.6536447 1339.1875,90.2812532 1339.1875,89.875 L1320.5,89.875 Z M1318.875,76.875 L1338.375,76.875 L1336.29297,85.177736 L1318.875,86.625 L1318.875,76.875 Z" transform="translate(-1314 -72)" fill="#090909" fill-rule="evenodd"/>
</svg>

  </div>

  <div
    class="basket__items"
    
    style="display: none;"
    
  >
    <span class="basket__items-value" data-basket="qty">00</span>
  </div>
</a>

      </div>
    </div>
  </div>
</header>
