<main class="page__main">
      <main class="main">
  <div id="shopify-section-hero" class="shopify-section"><section
  class="hero"
  style="background-image: url(//cdn.shopify.com/s/files/1/0263/0392/2221/files/Untitled_design_1.png?v=1575513815);"
>
  <div
    class="section-cta__overlay"
    style="background-color: #000000; opacity: 0.22"
  ></div>

  <div class="container wrapper">
    <div class="hero__grid grid">
      <div class="grid__column grid__column--12 grid__column--6@sm grid__column--5@md">
        <div class="hero__content">
          <h1 class="hero__heading">Futuristic Drop</h1>

          <p class="hero__subheading">Now Available</p>

          
            <a
              href="/collections/frontpage"
              class="hero__cta button button--primary"
            >Shop now</a>
          
        </div>
      </div>
    </div>
  </div>
</section>


</div>

  <div id="shopify-section-hero2" class="shopify-section"><section
  class="hero hero--2"
  style="background-image: url(//cdn.shopify.com/s/files/1/0263/0392/2221/files/Untitled_design_2.png?v=1575514039);"
>
  <div
    class="section-cta__overlay"
    style="background-color: #000000; opacity: 0.22"
  ></div>

  <div class="container wrapper">
    <div class="hero__grid grid">
      <div class="grid__column grid__column--12 grid__column--6@sm grid__column--5@md">
        <div class="hero__content">
          <h1 class="hero__heading">Minimal Drop</h1>

          <p class="hero__subheading"></p>

          
            <a
              href="/collections/frontpage"
              class="hero__cta button button--primary"
            >SHOP NOW</a>
          
        </div>
      </div>
    </div>
  </div>
</section>