{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="grid grid--uniform{% unless section.settings.enable_gutter %} grid--no-gutters{% endunless %}">

    {%- assign isEmpty = true -%}

    {% if section.blocks.size > 0 %}
      {%- assign isEmpty = false -%}
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    {%- assign background_position = "center center" -%}

    {% case section.settings.per_row %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter collection-item--four' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth collection-item--five' -%}
    {% endcase %}

    {%- assign collection = collections[section.settings.collection_1] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_2] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_3] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_4] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_5] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_6] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_7] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_8] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_9] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_10] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_11] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_12] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_13] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_14] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}
    {%- assign collection = collections[section.settings.collection_15] -%}
    {% include 'collection-grid-item', per_row: section.settings.per_row %}

    {% if isEmpty %}
      <div class="page-width">
        <div class="grid">
          <div class="grid__item">
            <div class="rte">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}
