{% if block.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width">
  {% if block.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-header__title">{{ block.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="grid grid--uniform{% unless block.settings.enable_gutter %} grid--no-gutters{% endunless %}">


    {%- assign collection = collections[block.settings.collection] -%}
    {%- assign background_position = "center center" -%}

    {% case block.settings.per_row %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter collection-item--four' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth collection-item--five' -%}
    {% endcase %}

    {%- assign collection = collections[block.settings.collection_1] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_2] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_3] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_4] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_5] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_6] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_7] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_8] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_9] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_10] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_11] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_12] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_13] -%}
    {% if collection != blank%}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_14] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_15] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_16] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_17] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_18] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_19] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_20] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_21] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_22] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_23] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_24] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_25] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_26] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_27] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_28] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_29] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_30] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_31] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_32] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_33] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_34] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_35] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_36] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_37] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_38] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_39] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_40] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_41] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}
    {%- assign collection = collections[block.settings.collection_42] -%}
    {% if collection != blank %}
      {% include 'collection-grid-item', per_row: block.settings.per_row %}
    {% endif %}

  </div>
</div>

{% if block.settings.divider %}</div>{% endif %}
