{% if section.settings.seller_logo %}
  <style>
    .footer__logo a {
      height: {{ block.settings.desktop_logo_height }}px;
    }
  </style>
  {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
  <div class="footer__logo">
    <a href="/">
      <img src="{{ secton.settings.seller_logo | img_url: footer_logo_size, scale: 2 }}" alt="{{ section.settings.seller_logo.alt | default: shop.name }}">
    </a>
  </div>
{% endif %}
