<p class="h1 text-center">
  {{ section.settings.title | escape }}
</p>

<div class="producer_map_home">
  {% include 'producer_map' %}
</div>

<script>
  var map = new mapboxgl.Map({
    container: 'producer_map',
    style: 'mapbox://styles/damienlethiec/cjt74vrvg03i01fps9qxrhlfo',
    center: [3, 46.9],
    zoom: 4.0
  });

  map.scrollZoom.disable();

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    countries: 'fr',
    language: 'fr',
    types: 'region, district, place'
  }));

  map.addControl(new mapboxgl.NavigationControl());

  geojson.features.forEach(function(marker) {
    // create a HTML element for each feature
    var el = document.createElement('div');
    el.className = 'marker';
    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<div class="text-center"><h3>' + marker.properties.title + '</h3>' + marker.properties.description + '</div>'))
      .addTo(map);
  });
</script>

{% schema %}
  {
    "name": "Producer Map",
    "class": "producer_map_home",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titre",
        "default": "Nos producteurs"
      }
    ],
    "blocks" : [],
    "presets": [
      {
        "name": "Producer Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
