{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      {% section 'catalog-collection-template' %}
    </div>
  </div>
</div>
