<div class="page-width page-content">

  {% include 'breadcrumbs' %}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

      <div class="producer_map_page">
        {% include 'producer_map' %}
      </div>

    </div>
  </div>

</div>

<script>
  var map = new mapboxgl.Map({
    container: 'producer_map',
    style: 'mapbox://styles/damienlethiec/cjt74vrvg03i01fps9qxrhlfo',
    center: [3, 46.9],
    zoom: 5.0
  });

  map.scrollZoom.disable();

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    countries: 'fr',
    language: 'fr',
    types: 'region, district, place'
  }));

  map.addControl(new mapboxgl.NavigationControl());

  geojson.features.forEach(function(marker) {
    // create a HTML element for each feature
    var el = document.createElement('div');
    el.className = 'marker';
    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<div class="text-center"><h3>' + marker.properties.title + '</h3>' + marker.properties.description + '</div>'))
      .addTo(map);
  });
</script>
